@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@layer base {
  :root {
    /* Fonts */
    --sans-serif: "Raleway", serif;
  }
}

* {
  box-sizing: border-box;
  font-family: var(--sans-serif);
  outline: none;
}

@layer utilities {
  /* Container */
  .container {
    @apply container mx-auto;
  }
  .container-expanded {
    max-width: calc(100% - 20px);
    width: calc(100% - 20px);
    @apply mx-auto;
  }

  /* Button */
  .button {
    @apply px-4 py-3 w-full text-white bg-black rounded-md transition duration-500 hover:bg-stone-900 cursor-pointer;
  }
}
