@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@layer base {
  :root {
    /* Fonts */
    --sans-serif: "Raleway", serif;
  }
}

* {
  box-sizing: border-box;
  font-family: var(--sans-serif);
  outline: none;
}

@layer utilities {
  /* Container */
  .container {
    @apply container mx-auto;
  }
}
